@import './vars.scss';
@import '~bulma/bulma.sass';
@import '~@fontsource/poppins/index.css';

:root {
	--sat: env(safe-area-inset-top);
	--sar: env(safe-area-inset-right);
	--sab: env(safe-area-inset-bottom);
	--sal: env(safe-area-inset-left);
}

html {
	padding-top: calc($navbar-height + var(--sat));
}

#app {
	font-family: 'Poppins';
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
	color: $black;
}

.navbar {
	background-color: $primary;
	min-height: calc($navbar-height + var(--sat));
}

.navbar-brand {
	margin-top: var(--sat);
}

.icon {
	position: relative;
	top: 3.5px;

	&.translate {
		transform: translateY(-15%);
	}
}

.is-size-8 {
	font-size: 0.65rem !important;
}

.convert {
	.title-index {
		color: $primary;
	}

	.card-content {
		.is-fullwidth {
			width: 100%;
		}

		.card-elements {
			justify-content: flex-start;
		}

		@media (min-width: 400px) {
			.card-elements {
				justify-content: center;
			}
		}
	}

	.circle {
		border: 2px solid $primary;
		border-radius: 50%;
		width: 20vh;
		height: 20vh;

		.circle-center {
			margin: auto;
			padding: 0 0.5rem 0 0.4;
			position: relative;
			width: inherit;
			top: 40%;
			left: 0;
			border: transparent;
			background-color: transparent;
			text-align: center;
			caret-color: $primary;
			color: #4d393e;

			&.help {
				font-size: 0.5rem;
			}
		}
	}

	.button-center {
		width: 20vw;
		margin: auto 1.5rem;
		position: relative;
		top: 10%;
		left: 0;

		&.is-fullwidth {
			width: 100%;
			margin: auto;
		}

		.button {
			border: 2px solid $border;
			border-radius: 0.4rem;
			width: 35vw;
			height: fit-content;
			padding: 0.5rem;
			font-size: 0.8rem;
			word-wrap: break-word;
			white-space: normal;

			&:hover {
				box-shadow: unset;
			}

			&:active,
			&.active {
				border: 2px solid $primary;
			}

			&.primary {
				border: 2px solid $primary;
				background-color: $primary;
				color: #fff;
			}

			&.is-fullwidth {
				width: 100%;
			}
		}
	}
}
