$black: #4d393e;
$border: #8f8185;
$primary: #d81c60;
$background-color: rgba(0, 0, 0, 0.4);

$modal-background-background-color: $background-color;
$card-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
